<a href="https://colab.research.google.com/github/Noob919/Feature_selection/blob/main/OWA_WINE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import numpy as np
import pandas as pd
from functools import reduce
from itertools import combinations

In [101]:
rank1 = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Chi_2").set_index('Attributes_Names')
rank2  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Tree_based_method").set_index('Attributes_Names')
rank3  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "permutation_method_mean").set_index('Attributes_Names')
rank4  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "permutation_method_std").set_index('Attributes_Names')
rank5  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "PCA").set_index('Attributes_Names')
rank6  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "F_test").set_index('Attributes_Names')
rank7  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "mutual_info").set_index('Attributes_Names')
rank8  = pd.read_excel("/content/Wine_dataset (1).xlsx",sheet_name = "Pearson_Correlation").set_index('Attributes_Names')

In [102]:
ranks = [rank1,rank2,rank3,rank4,rank5,rank6,rank7,rank8]
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Attributes_Names'],how='inner'), ranks)
final_df

,rank_chi,rank_tree,rank_per_mean,rank_P_std,rank_pca,,rank_f_test,Rank_mutual_info,rank_pearson,
Attributes_Names,,,,,,,,,,
total_sulfur_dioxide,1,1,1,1,1,,1,2,1,
free_sulfur_dioxide,2,11,5,6,2,,6,5,2,
residual_sugar,3,8,8,5,3,,8,4,3,
fixed_acidity,4,6,4,4,9,,4,8,9,
volatile_acidity,5,3,2,2,12,,2,3,12,
sulphates,6,5,3,3,10,,5,7,10,
chlorides,7,2,9,10,11,,3,1,11,
citric_acid,8,10,11,11,4,,10,9,4,
quality,9,12,12,9,5,,11,12,5,
pH,10,7,7,8,8,,9,10,7,
alcohol,11,9,6,7,7,,12,11,6,
density,12,4,10,12,6,,7,6,8,

In [103]:
negative_df = final_df*-1
negative_df

,rank_chi,rank_tree,rank_per_mean,rank_P_std,rank_pca,,rank_f_test,Rank_mutual_info,rank_pearson,
Attributes_Names,,,,,,,,,,
total_sulfur_dioxide,-1,-1,-1,-1,-1,,-1,-2,-1,
free_sulfur_dioxide,-2,-11,-5,-6,-2,,-6,-5,-2,
residual_sugar,-3,-8,-8,-5,-3,,-8,-4,-3,
fixed_acidity,-4,-6,-4,-4,-9,,-4,-8,-9,
volatile_acidity,-5,-3,-2,-2,-12,,-2,-3,-12,
sulphates,-6,-5,-3,-3,-10,,-5,-7,-10,
chlorides,-7,-2,-9,-10,-11,,-3,-1,-11,
citric_acid,-8,-10,-11,-11,-4,,-10,-9,-4,
quality,-9,-12,-12,-9,-5,,-11,-12,-5,
pH,-10,-7,-7,-8,-8,,-9,-10,-7,
alcohol,-11,-9,-6,-7,-7,,-12,-11,-6,
density,-12,-4,-10,-12,-6,,-7,-6,-8,

In [104]:
combs = list(combinations(final_df.index,2))
comb_df  = pd.DataFrame(combs, columns =['feature A','feature B'])

In [105]:
rank_chi = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_chi'] > negative_df.T[comb_df['feature B'][i]]['rank_chi']):
    rank_chi.append(1)
  else: 
    rank_chi.appen(0)

comb_df = comb_df.merge(pd.Series(rank_chi, name = 'Chi2').to_frame(), left_index=True, right_index=True)

In [106]:
rank_tree = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_tree'] > negative_df.T[comb_df['feature B'][i]]['rank_tree']):
    rank_tree.append(1)
  else: 
    rank_tree.append(0)

comb_df = comb_df.merge(pd.Series(rank_tree, name = 'tree').to_frame(), left_index=True, right_index=True)

In [107]:
rank_per_mean = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_per_mean'] > negative_df.T[comb_df['feature B'][i]]['rank_per_mean']):
    rank_per_mean.append(1)
  else: 
    rank_per_mean.append(0)

comb_df = comb_df.merge(pd.Series(rank_per_mean, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [110]:
rank_P_std = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_P_std'] > negative_df.T[comb_df['feature B'][i]]['rank_P_std']):
    rank_P_std.append(1)
  else: 
    rank_P_std.append(0)

comb_df = comb_df.merge(pd.Series(rank_P_std, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [113]:
rank_pca = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_pca'] > negative_df.T[comb_df['feature B'][i]]['rank_pca']):
    rank_pca.append(1)
  else: 
    rank_pca.append(0)

comb_df = comb_df.merge(pd.Series(rank_pca, name = 'per_mean').to_frame(), left_index=True, right_index=True)

In [118]:
rank_f_test = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_f_test'] > negative_df.T[comb_df['feature B'][i]]['rank_f_test']):
    rank_f_test.append(1)
  else: 
    rank_f_test.append(0)

comb_df = comb_df.merge(pd.Series(rank_f_test, name = 'rank_f_test').to_frame(), left_index=True, right_index=True)

In [117]:
rank_mutual_info = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['Rank_mutual_info'] > negative_df.T[comb_df['feature B'][i]]['Rank_mutual_info']):
    rank_mutual_info.append(1)
  else: 
    rank_mutual_info.append(0)

comb_df = comb_df.merge(pd.Series(rank_mutual_info, name = 'rank_mutual').to_frame(), left_index=True, right_index=True)

In [119]:
rank_pearson = []
for i in range(0,comb_df.shape[0]):
  if(negative_df.T[comb_df['feature A'][i]]['rank_pearson'] > negative_df.T[comb_df['feature B'][i]]['rank_pearson']):
    rank_pearson.append(1)
  else: 
    rank_pearson.append(0)

comb_df = comb_df.merge(pd.Series(rank_pearson, name = 'rank_pearson').to_frame(), left_index=True, right_index=True)

In [120]:
comb_df

,feature A,feature B,Chi2,tree,per_mean_x,per_mean_y,per_mean_x,per_mean_y,rank_mutual,rank_f_test,rank_pearson
0,total_sulfur_dioxide,free_sulfur_dioxide,1,1,1,1,1,1,1,1,1
1,total_sulfur_dioxide,residual_sugar,1,1,1,1,1,1,1,1,1
2,total_sulfur_dioxide,fixed_acidity,1,1,1,1,1,1,1,1,1
3,total_sulfur_dioxide,volatile_acidity,1,1,1,1,1,1,1,1,1
4,total_sulfur_dioxide,sulphates,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
61,quality,alcohol,1,0,0,0,1,1,0,1,1
62,quality,density,1,0,0,1,1,0,0,0,1
63,pH,alcohol,1,1,0,0,0,1,1,1,0
64,pH,density,1,0,1,1,0,0,0,0,1
65,alcohol,density,1,0,1,1,0,0,0,0,1